@viewport{ width: device-width; zoom: 1.0; }
@-ms-viewport{ width: device-width; }
@media screen and (max-width: 320px) {}
@media screen and (min-width: 321px) and (max-width: 480px) {}
@media screen and (min-width: 481px) {}

body
{ 
	font-family: Helvetica,Arial,'Microsoft Yahei'; 
	margin: 0; 
}
.no-used
{
	background-color: #007bff; /*primary*/
	background-color: #6c757d; /*secondary*/
	background-color: #28a745; /*success*/
	background-color: #dc3545; /*danger*/
	background-color: #ffc107; /*warning*/
	background-color: #17a2b8; /*info*/
	background-color: #f8f9fa; /*light*/
	background-color: #343a40; /*dark*/
}
.fill
{ 
	width:100%; 
	height:100%;
}
.main-stretch
{
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
}
.base
{ 
	box-sizing: border-box; 
	position: relative; 
	
	display: -webkit-flex; 
	display: -ms-flex; 
	display: flex; 
}
.no-shrink
{
	-webkit-flex-shrink: 0;
	-ms-flex-shrink: 0;
	flex-shrink: 0;
}	
.row
{ 
	-webkit-flex-flow: row nowrap; 
	-ms-flex-flow: row nowrap; 
	flex-flow: row nowrap;
	
	-webkit-align-items: center; 
	-ms-align-items: center; 
	align-items: center; 
}
.columns
{ 
	-webkit-flex-flow: column nowrap; 
	-ms-flex-flow: column nowrap; 
	flex-flow: column nowrap;
}
.center-item
{ 
	-webkit-align-items: center; 
	-ms-align-items: center; 
	align-items: center; 
}
.right-item
{ 
	-webkit-align-items: flex-end; 
	-ms-align-items: flex-end; 
	align-items: flex-end; 
}
.stretch-item
{ 
	-webkit-flex: 1 0 auto;
	-ms-flex: 1 0 auto;
	flex: 1 0 auto;

	-webkit-align-items: stretch; 
	-ms-align-items: stretch; 
	align-items: stretch; 
}
.center-content
{ 
	-webkit-justify-content: center; 
	-ms-justify-content: center; 
	justify-content: center;
}
.right-content
{ 
	-webkit-justify-content: flex-end; 
	-ms-justify-content: flex-end; 
	justify-content: flex-end;
}
.between-content
{ 
	-webkit-justify-content: space-between; 
	-ms-justify-content: space-between; 
	justify-content: space-between;
}
.truncate
{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;        
}
.title
{ 
	font-size: 30px; 
	font-weight: 700; 
	color: red;
}
.sub-title
{ 
	font-size: 18px; 
}
.key
{ 
	font-size: 18px; 
	font-weight: 500; 

	-webkit-flex-shrink: 0;
	-ms-flex-shrink: 0;
	flex-shrink: 0;
}
.value
{ 
	font-size: 14px; 
	
	-webkit-flex-shrink: 0;
	-ms-flex-shrink: 0;
	flex-shrink: 0;
}
.form-key
{ 
	font-size: 18px; 
	font-weight: 500; 

	-webkit-flex-shrink: 0;
	-ms-flex-shrink: 0;
	flex-shrink: 0;
}
.form-value
{ 
	font-size: 16px; 
	height: 30px;
	max-width: 220px;

	padding: 0px 8px 0px 8px;
	
	-webkit-flex-shrink: 0;
	-ms-flex-shrink: 0;
	flex-shrink: 0;
}
button
{ 
	min-height: 30px; 
	font-size: 14px; 
	padding: 2px 4px 2px 4px; 
}
.btn
{ 
	width: 68px; 
	margin-bottom: 10px; 
}
.btn:hover
{ 
	cursor: pointer; 
}
.tab
{ 
	width: 68px; 
	margin-bottom: 10px; 
}
.tab:hover
{ 
	cursor: pointer; 
}
.margin-t36
{ 
	margin-top: 36px;
}
.margin-t24
{ 
	margin-top: 24px;
}
.margin-t8
{ 
	margin-top: 8px;
}
.margin-t2
{ 
	margin-top: 2px;
}
.margin-l2
{ 
	margin-left: 2px;
}
